@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;600;700&display=swap");

/* font-family: 'Noto Sans Display', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --font: "Noto Sans Display", sans-serif;
  font-size: 13px;
  word-wrap: break-word;

  --color-60a: #ffffff;
  --color-60b: #ebebeb;
  --color-30a: #d6d6d6;
  --color-30b: #222222;
  --color-10a: #a7c957;
  /* --white: #ffffff; */
  /* you could add an accent color for CTAs and anchor tags ;-) */

  /*Margins*/
  --m: 1rem;
  --ms: 0.5rem;
  --m-large: 3rem;
  --mtb: 1rem 0;
  --mb: 0 0 1rem 0;
  --mt: 1rem 0 0 0;
  --mtb-auto: 1rem auto;
  --mtb-auto-large: 4rem auto;
  --mtb-medium: 2rem auto;
  --mlr: 0 1rem;
  --ml: 0 0 0 1rem;
  --mr: 0 1rem 0 0;
  --mtb-large: 3rem auto;
  --m-auto: 0 auto;

  /*Paddings*/
  --p: 0.5rem 1rem;
  --ps: 0.5rem 0.75rem;
  --p-medium: 1.5rem;
  --p-large: 3rem;
  --pb: 0 0 1rem 0;
  --pt: 1rem 0 0 0;
  --pt-medium: 2rem 1rem 0 1rem;
  --ptb: 1rem 0;
  --ptb-medium: 2rem 1rem;
  --ptb-large: 3rem 0;
  --pr: 0 1rem 0 0;
  --pl: 0 0 0 1rem;
  --plr: 0 1rem;

  /*Border radius*/
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-20: 40px;
  --border-radius-100: 100%;
  --border-radius-top-10: 10px 10px 0 0;
  --border-radius-right-10: 0 10px 10px 0;

  /*background colors*/
  --bg-gray-200: #eee;

  /*Shadows*/
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body {
  color: var(--color-30b);
  background-color: var(--color-60a);
}

.co2 h2 span {
  font-size: 1.953rem;
}
h1,
h2,
h3 {
  color: var(--color-30b);
  font-family: var(--font);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: var(--font);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

span {
  font-family: var(--font);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-30b);
  font-family: var(--font);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  /* font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; */
}

em {
  color: var(--color-10a);
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-60a);
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
  box-shadow: var(--shadow);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 4rem;
}

nav ul li a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-30b);
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  padding: var(--plr);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--ptb-large);
  /* margin: var(--mtb-auto-large); */
  min-height: 400px;
  margin-bottom: 0rem;
}

#intro,
#co2 {
  background-color: var(--color-60b);
}

#intro {
  background-image: url("/media/earth.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 65%;
  top: 3.5rem;
  position: relative;
}

form {
  width: 65%;
}

.intro,
.co2 {
  grid-column: 1/-1;
  padding: var(--ptb-large);
}

.form-and-text {
  grid-column: 1/-1;
}
.form-and-text h2 {
  margin-top: 1rem;
  margin-bottom: -2.5rem;
}
.form-and-text p {
  margin-bottom: -1rem;
}
.hours-month {
  grid-column: 1/-1;
  background-image: url("/media/tv.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cabel {
  width: 100%;
  height: 240px;
  grid-column: 1/-1;
  background-image: url("/media/cabel2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -4rem;
}

.car {
  width: 100%;
  grid-column: 1/-1;
  background-image: url("/media/car.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.kwh-km {
  grid-column: 1/-1;
  margin: var(--mtb-auto-large);
}

.hours-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.form-and-text,
.hours-month,
.car,
.kwh-km {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  gap: 4rem;
  /* margin: var(--m-auto); */
  margin-top: 4rem;
  width: 100%;
}

/* Input Type Range */

input {
  background-color: var(--color-60a);
}

input[type="range"] {
  height: 35px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  /* padding: 1rem; */
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-30b);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-10a);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-30b);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-10a);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-10a);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-10a);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-60b);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--color-10a);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: var(--color-10a);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-10a);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-60b);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-10a);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-10a);
}

ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  margin-bottom: -0.5rem;
  justify-content: center;
}
.hidden {
  display: none;
}
ul li {
  width: auto;
}

ul li img,
.ground img {
  max-width: 100%;
  /* height: auto; */
}
.tree6,
.tree8,
.tree10,
.tree11 {
  opacity: 0;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-large);
  width: 100%;
  margin: var(--m-auto);
  padding: var(--ptb-large);
  background-color: var(--color-30b);
}

.names {
  display: flex;
}

#footer .kea h3,
#footer .kea h2,
#footer .kea ul h3,
#footer .kea p {
  text-align: center;
  /* padding: var(--p-medium); */
  color: var(--color-60a);
}

#footer ul {
  display: block;
  text-align: center;
  padding: var(--ptb-large);
}

@media screen and (min-width: 768px) {
  #intro {
    background-image: url("/media/earth.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    top: 3.5rem;
    /* padding: var(--ptb-large); */
  }
  .hidden {
    display: block;
  }
  ul {
    margin-bottom: -0.4rem;
  }
  .cabel {
    margin-bottom: -3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1024px;
    max-width: 1024px;
    /* justify-content: center; */
    margin: var(--m-auto);
  }

  #intro {
    background-image: url("/media/earth.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    top: 3.5rem;
    position: relative;
    /* padding: var(--ptb-large); */
  }

  .intro {
    width: 81%;
    margin: var(--m-auto);
  }

  .intro,
  .co2 {
    grid-column: 1/-1;
  }

  .form-and-text {
    grid-column: 1/2;
  }

  .hours-month {
    grid-column: 2/-1;
    /* width: 480px;
    height: 270px; */
  }

  .cabel {
    width: 100%;
    height: 240px;
    grid-column: 1/-1;
    background-image: url("/media/cabel.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -1rem;
    margin-bottom: -7rem;
    /* margin-top: -100px; */
    /* margin-bottom: -150px; */
    left: -40px;
    position: relative;
    z-index: -1;
  }

  .car {
    grid-column: 1/2;
  }

  .kwh-km {
    grid-column: 2/-1;
  }

  ul {
    width: 1024px;
    justify-content: center;
  }
  ul li img,
  .ground img {
    max-width: 100%;
    /* height: 100%; */
  }

  .tvSect {
    /* margin-bottom: 4rem; */
    /* margin-top: 4rem; */
  }
  .form-and-text h2 {
    margin-top: 4rem;
    margin-bottom: -2.5rem;
  }
  .carSect {
    margin-bottom: -1rem;
  }
  #footer {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 4rem;
    width: 100%;
    margin: var(--m-auto);
  }

  .kea {
    display: block;
    margin: var(--mtb-large);
  }

  .kea h2,
  .kea h3 {
    margin: var(--mt);
  }

  #footer .kea h3,
  #footer .kea h2,
  #footer .kea p {
    text-align: center;
    color: var(--color-60a);
  }

  #footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #footer ul li {
    margin: var(--mlr);
  }
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  input[type="range"],
  nav,
  body,
  #intro,
  #co2 {
    background-color: var(--color-30b);
    color: var(--color-60a);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  ul,
  li {
    color: var(--color-60a);
  }
  nav ul li a {
    color: var(--color-60a);
  }
  .darkmodeSvg {
    fill: var(--color-60a);
    color: var(--color-60a);
  }
} */
